html {
    font-size: 10px;
}

body,html {
    margin: 0;
    font-family: sans-serif;
}

#drum-machine {
    max-width: 90%;
    margin: 4rem auto;
    text-align: center;
    border-style: solid;
}

#display {
    width: 75%;
    background-color: gainsboro;
    margin: 0 auto;
    font-size: 5rem;
}

.display-container {
    margin: 4rem auto;
}

#drum-pads {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.drum-pad {
    cursor: pointer;
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
    width: 50%;
}

kbd {
    display: block;
    font-size: 4rem;
}
  
.directions-section {
    font-size: 1.5rem;
    margin: 3.5rem auto 1rem auto;
    max-width: 350px;
}

.directions {
    text-align: left;
}


@media (min-width: 768px) { 
    #drum-machine {
        max-width: 65%;
    }    
}